body, .bkgd-img {
    background-image: url("/static/img/bkgd/46904091-wallpaper-blur.jpg") !important;
    color: white;
}

.navbar {
    background: rgba(200, 200, 200, 0.2) !important;
}

md-toast.md-center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

md-sidenav a {
    font-size: 120%;
    font-weight: bold;
}

md-sidenav .sidenav-item:hover {
    background-color: rgba(158, 158, 158, 0.2);
}